* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f9cccb;
    color: #242521;
}
.navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 2px;
    gap: 20px;
    align-items: center;
    background-color: #f9cccb;
}
.nav_menu ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    justify-content: end;
}
.nav_menu ul li {
    display: inline;
    list-style-type: none;

}
.nav_menu ul li a {
    text-decoration: none;
    color: #242521;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 100px;
    font-weight: bold;
}
.nav_menu ul li a:hover {
    background-color: #e35b89;
    color: #f8f6f0;
}
.nav_logo {
   display: flex;
   align-items: center;
}
.nav_logo img {
    width: 150px;
    height: 70px;
    padding: 0px 10px 0px 100px;
}
/* start hero */
.hero_container {
    background-image: url(../images/nct_group.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 600px;
} 
.hero_text h2 i {
    color: #242521;
}
.hero {
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 300px 230px 0 230px;
    background-color: #f1ddcf;
    width: 1000px;
    height: auto;
    border: 0px solid #242521;
    border-radius: 10px;
    padding-bottom: 0;
}
.hero_img {
    position: relative;
    width: 400px;
    height: auto;
    border: 0px solid #f1ddcf;
    border-radius: 5px;
}
.hero_text {
    color: #242521;
    padding: 0 0 0 50px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
   
}
.hero_text h2{
    padding: 20px 0;
    font-size: 30px;
    letter-spacing: 2px;
} 
.hero_text .profile_text {
    font-weight: bold;
    font-size: 20px;
    padding-right: 30px;
}  
.hero_text p {
    padding-bottom: 5px;
} 
.hero_text .canada_flag {
    width: 5%;
    height: 5%;
    margin-left: 10px;
}
.hero_text .canada_logo {
    width: 10%;
    height: 10%;
    margin-left: 10px;
    margin-top: 0;
}
/* end hero */

/* start about */
.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 400px 100px 0px 100px;
}
.about_img img {
    width: auto;
    height: auto;
    margin-right: 80px;
    border: 1px solid #f9cccb;
    border-radius: 10px;

}
.about_text {
    font-size: 19px;
    letter-spacing: 0.5px;
    color: #242521;
    line-height: 32px;
}
.about_text p {
    padding-bottom: 10px;
    text-align: justify;
    padding-right: 10px;
}
.about_text p a {
    text-decoration: none;
    color: #e35b89;
    font-weight: bold;
}
.about_nct_img {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 20px;
    margin-top: 20px;
    color: #242521;
    font-weight: bold;
}
.nct_img {
    width: 200px;
    height: 150px;
} 
.about_nct_img h4 {
    text-align: center;
}
.about_text a:hover {
    color: #f8f6f0;
    font-weight: bold;
}
/* end about */

/* start Discography */
.disco {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 100px 0px 100px;
    gap: 20px;
}
.disco_title i {
    color: #242521;
    font-size: 30px;
}
.disco_title {
    padding: 120px 0px 40px 0;
    text-align: center;
    color: #242521;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
}
.disco_text {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.disco_item {
    border: 2px solid #f9cccb;
    border-radius: 10px;
    background-color: #f1ddcf;
}
.disco_img {
    width: 100%;
    height: auto;
    border: 1px solid #f9cccb;
    border-radius: 5px;
}
.content a , h3{
    color: #242521;
    text-decoration: none;
    padding: 0px ;
    letter-spacing: 1px;
    margin-left: 10px;
    font-weight: bold;
}
.content p {
    color: #242521;
    padding: 15px 8px;
    /* text-align: justify; */
    font-size: 18px;
    /* letter-spacing: 1px; */
}
.disco_text .sub_title {
   color: #242521;
   padding: 10px 20px;
   font-weight: bold;
}
.disco_text .sub_text {
    color: #242521;
    padding: 10px 20px;  
}
/* .disco_item img:hover {
} */
.sub_title {
    margin-bottom: 8px;
}
.disco_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 50px 0;
}
.show_btn {
text-decoration: none;
background-color: #e35b89;
padding: 10px;
border: 1px solid #f9cccb;
border-radius: 5px;
color: #f8f6f0;
letter-spacing: 1px;
}
.disco_btn a:hover {
    background-color: #f1ddcf;
    color: #242521;
    font-weight: bold;
    border: 2px solid #e35b89;
}
/* end Discography */

/* start concerts */
.concerts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 120px 100px 0px 100px;
    gap: 50px;
}
.concerts_title {
    margin-top: 20px;
    color: #242521;
    font-weight: bold;
    margin-bottom: 50px;
}
.concerts_img img {
    width: auto;
    height: auto;
    border: 1px solid #f9cccb;
    border-radius: 10px;
}
.concerts_text {
    font-size: 19px;
    letter-spacing: 0.5px;
    color: #242521;
    line-height: 32px;
}
.concerts_text p {
    padding-bottom: 20px;
    text-align: justify;
}
.concerts_text p span {
    color: #242521;
    font-style: italic;
    font-weight: 600;
}
.concerts_btn {
    
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 15px;
    letter-spacing: 1px;
}
.concerts_show_btn {
text-decoration: none;
background-color: #e35b89;
padding: 15px;
border: 1px solid #f9cccb;
border-radius: 5px;
color: #f8f6f0;
}
.concerts_btn a:hover {
    background-color: #f1ddcf;
    color: #242521;
    font-weight: bold;
    border: 2px solid #e35b89;
}

.dream_concerts {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 120px 100px 0px 100px;
    gap: 50px;
}
.dream_concerts_img img {
    width: auto;
    height: auto;
    border: 1px solid #f9cccb;
    border-radius: 10px; 
}
/* .concerts_text i {
    color: #483c32;
} */
/* end concerts */

/* start awards */
.awards {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding: 0px 100px 0px 100px;
gap: 20px;
}
.awards_title {
    padding: 120px 0 40px 0;
    text-align: center;
    color: #242521;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
}
.award_img {
    width: 100%;
    height: auto;
    border: 1px solid #f9cccb;
    border-radius: 10px 10px 0 0;
}
.nct_award {
    background-color: #f1ddcf;
    border: 1px solid #f9cccb;
    font-size: 18px;
    letter-spacing: 1px;
    color: #242521;  
    margin-bottom: 40px;
    border-radius: 10px;
}
.awards_text {
    display: flex;
    gap: 50px;
    padding: 0px 10px 10px 10px;
}
.award_header {
    font-weight: bold;
    margin-bottom: 20px;
}
.award_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.award_btn a:hover {
    color: #242521;
    background-color: #f8f6f0;
    border: 2px solid #e35b89;
}
/* end awards */

/* start comment */
.comment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.comment_bgn {
    background-color: #f1ddcf;
    border: 1px solid #f9cccb;
    border-radius: 10px;
    margin: 140px 100px 100px 100px;
}
.comment_title {
    padding: 20px 0 40px 0;
    text-align: center;
    color: #242521;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;    
}
.form_group {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}   
.form_group label {
    display: block;
    font-weight: bold;
} 
.form_group input, .form_group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #242521;
    border-radius: 5px;
    background-color: #f9cccb;
   
}
.contact_form button {
    margin: 0 0 40px 150px;
    display: block;
    width: 30%;
    background-color: #e35b89;
    align-items: center;
    text-align: center;
}
.comment_btn {
    padding: 10px;
    border: 1px solid #f1ddcf;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #f8f6f0;
}
.comment_btn:hover {
    color: #242521;
    background-color: #f1ddcf;
    border: 2px solid #e35b89;
}
.social h2 {
    font-weight: bold;
    letter-spacing: 1px;
    color: #242521;
    text-align: right;
    margin-right: 80px;
    font-size: 19px;
}
.social_link {
    text-align: right;
    padding: 20px;
    margin-right: 100px;
    color: #242521;
    font-weight: bold;
}
.social_link p {
    margin-bottom: 20px;
}
.contact h2 {
    font-weight: bold;
    letter-spacing: 1px;
    color: #242521;
    text-align: left;
    margin-left: 70px;
    font-size: 19px;
}
.contact_link {
    text-align: left;
    padding: 20px;
    margin-left: 50px;
}
.contact_link p span {
    color: #242521;

}
.contact_link p i {
    font-size: x-large;
}
.contact_link p {
    margin-bottom: 20px;
}

.icon {
    color: #f9cccb;
    background-color: #e35b89;
    border: 1px solid #f9cccb;
    border-radius: 50px;
    padding: 5px;
}
/* end comment */

/* start footer */
footer {
    background-color: #242521;
    padding-top: 40px;

}
/* .footer_wave {
    position: relative;
} */
.footer_text {
    position: relative;
    text-align: center;
    padding-left: 50px;   
    letter-spacing: 2px; 
    color: #e35b89;
}
.footer_text p span {
    color: #f8f6f0;
    font-weight: bold;
}
/* end footer */
